html {
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.16;
    color: var(--clr-light);
    background-color: var(--clr-body-bg);
}

h2 {
    font-weight: var(--fw-3);
}

p, li, figcaption {
    text-wrap: pretty;
}

img, picture, video, canvas, svg {
    display: block;
    max-inline-size: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

a, a:visited, a:active {
    text-decoration: none;
}