:root {
    --clr-user-bg: hsl(246, 80%, 60%);
    --clr-work: hsl(15, 100%, 70%);
    --clr-play: hsl(195, 74%, 62%);
    --clr-study: hsl(348, 100%, 68%);
    --clr-exercise: hsl(145, 58%, 55%);
    --clr-social: hsl(264, 64%, 52%);
    --clr-self-c: hsl(43, 84%, 65%);
    --clr-body-bg: hsl(226, 43%, 10%);
    --clr-cards-bg: hsl(235, 46%, 20%);
    --clr-card-hover: hsl(235, 41%, 34%);
    --clr-btn: hsl(235, 45%, 66%);
    --clr-light: hsl(0, 0%, 100%);
    --clr-previous-hrs: hsl(236, 100%, 87%);
    --clr-report: hsl(233, 100%, 93%);
}